* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
  background-color: rgb(255, 237, 188);
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  margin-bottom: 25px;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.fisrt-class {
  font-size: 20px;
  margin-top: 10px;
}

.second-class {
  color: rgb(255, 94, 0);
}
p {
  margin-bottom: 10px;
}

#style-name {
  background-color: rgb(248, 211, 90);
  border: 5px solid black;
  width: 400px;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

input,
button {
  font-size: 16px;
  padding: 10px;
}

a {
  background-color: yellow;
  color: rgb(21, 5, 251);
}

#image-course {
  width: 300px;
  /* height: 300px; */
}

#style-name h2 {
  color: blueviolet;
}
